/* ボード作成　*/
.continar{
    margin: 0 auto;
    min-width: 375px;
    max-width: 1920px;
}

.continar::after{
    content: "";
    display: block;
    clear: both;
}

.header {
    position: fixed;
    top: 0;left: 0;right: 0;  
    background-color:#E3DCFF;
    height: 70px;
    width: 100%;
    z-index: 3;
}

.table{
    background-color: black;
    float: left;
    margin-top: 80px;
    height: 590px;
    width: 590px; 
}

.menu{
    background-color:#F2F2F2;
    float: left;
    margin: 80px 30px 50px 80px;
    height: 590px;
    width: 350px; 
}

#frame::after{
    content: "";
    display: block;
}

#frame{
    margin:6px 6px 6px 6px;
}

/*------駒------*/
.pieace{
    position: absolute;
    left: 7%;
    right: 7%;
    top:7%;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: aliceblue;
    display: none;
}

/*-------メニュー-----------*/
.menu::after{
    content: "";
    display: block;
    clear: both;
}

.back{
    background-color:cadetblue;
}

.next{
    background-color:cadetblue;
}

